<!--
  Generated template for the PhonecodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar align-title="center">
    <ion-title>Country</ion-title>
    <ion-buttons end>
      <button color="dark" ion-button icon-only (click)="close()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel">
  </ion-searchbar>

  <ion-list *ngIf="isViewLoaded" [virtualScroll]="utilProvider.filterItems(searchInput)" approxItemHeight="80px" [bufferRatio]="3.1">
  <ion-item *virtualItem="let country" (click)="getCountryCode(country.code)">
    <ion-avatar item-start>
      <ion-img cache="true" width="40" height="40" [src]="'./assets/flags/'+(country.code | lowercase)+'.svg'"></ion-img>
    </ion-avatar>
    <h2>{{country.name}}</h2>
    <p item-end>{{country.dial_code}}</p>
  </ion-item>
</ion-list>
</ion-content>
