<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar align-title="center">
        <button color="dark" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Profilo</ion-title>

        <ion-buttons end>
            <button color="dark" ion-button icon-only (click)="navCtrl.goToRoot()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="profileWrap">
        <div class="profilePic">
            <img (click)="changeImage()" *ngIf="user"
                 [src]="perview?perview:(apiProvider.getImagePath(user.user_photo,'./assets/images/profileIcon.png'))"
                 alt="">
        </div>

        <div class="profileForm" *ngIf="user">
            <ul>
                <li><input type="text" placeholder="Nome" [(ngModel)]="user.user_first"></li>
                <li><input type="text" placeholder="Telefono" [(ngModel)]="user.user_phone" disabled></li>
                <li>
                    <ion-item class="city_dropdown">
                        <ion-label>Città</ion-label>
                        <ion-select [(ngModel)]="user.user_city_id" name="city" okText="OK" cancelText="Cancella">
                            <!-- <ion-option value="">Seleziona Città</ion-option> -->
                            <ion-option [value]="city.city_id"
                                        *ngFor="let city of citiesList">{{city.city_name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </li>
                <li>
                    <button class="okbtn" (click)="saveUser()">OK</button>
                </li>
            </ul>
        </div>

    </div>
</ion-content>
