page-profile {
	.profilePic {
		text-align: center;
		padding-top: 50px;
	}

	.profilePic img {
		width: 150px;
    border-radius: 50%;
    height: 150px;
    overflow: hidden;
    border: 2px solid #aaa;
		background-color:#EEE;
		    object-fit: cover;
				min-height: 150px;
min-width: 150px;
	}

	input[disabled] {
		background-color: transparent;
	}

	.city_dropdown {
		height: 60px;
		border: 1px solid #dddddd !important;
		border-radius: 5px;
		padding: 0 15px;
		font-size: 18px;
		color: #000;
	width: auto;
	.item-inner {
		border:none;
		border-bottom:none !important;
	}
	}

	.profileForm {
		padding: 40px 25px 15px;
	}

	.profileForm ul {
		list-style: none;
	}

	.profileForm ul li:after {
		content: '';
		display: block;
		clear: both;
	}

	.profileForm ul li {
		margin-bottom: 10px;
	}

	.profileForm ul li input {
		width: 100%;
		height: 60px;
		border: 1px solid #dddddd;
		border-radius: 10px;
		padding: 0 15px;
		font-size: 18px;
		color: #000;
	}
	// .profileForm ul li:nth-child(2) input:nth-child(1) {
	// 	float: left;
	// 	width: 29%;
	// }
	// .profileForm ul li:nth-child(2) input:nth-child(2) {
	// 	float: right;
	// 	width: 69%;
	// }
	.profileForm ul li .okbtn {
		width: 100%;
		background: #7cad31;
		color: #fff;
		border: 0;
		height: 60px;
		border-radius: 10px;
		font-size: 18px;
		margin-top: 20px;
	}
}
