<ion-header>
    <ion-navbar align-title="center">
        <button clear color='dark' ion-button icon-only *ngIf="isVerfied" (click)="isVerfied=!isVerfied">
            <ion-icon name="ios-arrow-round-back"></ion-icon>
        </button>

        <ion-title text-center>
            {{isVerfied?"Informazioni personali":"Registrati"}}
        </ion-title>

        <ion-buttons end>
            <button color="dark" ion-button icon-only *ngIf="isVerfied">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons end>
            <button color="dark" ion-button *ngIf="canLoginSkip" [navPush]="SidemenuPage">
                Skip
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <form name="mobile">
        <div class="profilePic" *ngIf="isVerfied">
            <img (click)="changeImage()" [src]="perview?perview:'./assets/images/profileIcon.png'" alt="">
        </div>

        <div class="regFormWrap">
            <div class="singleInput" *ngIf="isVerfied">
                <input type="text" placeholder="Nome" [(ngModel)]="fname" name="fname"/>
            </div>
        </div>

        <!--Registar form-->
        <ion-list class="list-form" no-border>
            <ion-item *ngIf="!isVerfied">
                <ion-label class="regTxt">Inserisci il tuo numero di telefono</ion-label>
            </ion-item>

            <div class="dualInput">
                <div tappable (click)="openCountryModal()">
                    <input type="text" placeholder="+39" name="mobileplaceholder" [(ngModel)]="currentDialCode"
                           [style.backgroundImage]="'url('+imageUrl+')'" [disabled]="true">
                </div>
                <input type="number" placeholder="Telefono" [(ngModel)]="phone" name="mobileno" [disabled]="isVerfied">
            </div>


            <ion-item class="city_dropdown" *ngIf="isVerfied">
                <ion-label>Città</ion-label>
                <ion-select [(ngModel)]="city" name="city" okText="OK" cancelText="Cancella">
                    <ion-option [value]="city.city_id" *ngFor="let city of citiesList">{{city.city_name}}</ion-option>
                </ion-select>
            </ion-item>

            <div class="row" *ngIf="!isVerfied">
                <ion-item class="termsCondition" padding-vertical>
                    <ion-label>
                        Accetto
                    </ion-label>
                    <ion-checkbox [(ngModel)]="termsCondition" name="termsCondition" color="primary"></ion-checkbox>
                </ion-item>
                <a href="#" onclick="window.open('http://velofood.it/terminiecondizioni.html')">Termini e Condizioni</a>
            </div>
        </ion-list>

        <!-- <div class="regFormWrap">
            <div class="singleInput"  *ngIf="isVerfied">
                <input type="text" placeholder="Email" [(ngModel)]="email" name="email" />
            </div>
        </div> -->
    </form>

    <div id="phone-sign-in-recaptcha"></div>
    <!--/Registar form-->

</ion-content>


<ion-footer no-border>
    <button id="sign-in-button" ion-button block (click)="signIn()" [disabled]="loggingIn || !isValidate()">OK</button>
</ion-footer>
