page-home {

  /*********************Screen 5***************************/
  .regFormWrap {
    padding: 5px 16px;
  }

  .list-form {
    margin: 0;
    margin-top: 10px;
  }

  .regTxt {
    text-align: center;
    padding: 16px 0;
  }

  .dualInput {
    padding: 0 16px;
  }
  .dualInput:after {
    content: '';
    display: block;
    clear: both;
  }

  .dualInput input:nth-child(1) {
    float: left;
    width: 29%;
    background: url("../images/phoneFlag.png") no-repeat 7px 18px;
    background-size: 30px;
    padding-left: 40px;
    min-width: 100px;
    padding-right: 8px;
  }

  .dualInput input:nth-child(2) {
    float: right;
    width: 64%;
  }

  input[disabled] {
    background-color: transparent !important;
    opacity: 1 !important;
  }
  .dualInput input {
    height: 60px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 18px;
    color: #000;
  }

  .item.city_dropdown {
    height: 60px;
    border: 1px solid #dddddd !important;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 18px;
    color: #000;
    margin: 16px;
    width: auto;
  }
  .singleInput {
    padding-top: 10px;
    input {
      width: 100%;
      height: 60px;
      border: 1px solid #dddddd;
      border-radius: 5px;
      padding: 0 15px;
      font-size: 18px;
      color: #000;
    }

  }

  @media(max-width: 300px) {
    .dualInput input:nth-child(1),
    .dualInput input:nth-child(2) {
      float: none;
      width: 100%;
    }

    .dualInput input:nth-child(2) {
      margin-top: 15px;
    }
  }

  .grecaptcha-badge {
    display: none;
  }

  .profilePic {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 35px;
  }

  .profilePic img {
    min-width: 150px;
    width: 150px;
    border-radius: 50%;
    min-height: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #aaa;
    object-fit: cover;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: center;
    ion-item {
      width: auto;
    }
    a {
      font-size: 11px;
    }
    .termsCondition {
      .checkbox {
        margin-right: 5px;
      }
      ion-label {
        font-size: 11px;
        margin: 0px;
      }
    }
  }
  .item {
    border-top: 0 !important;
    border: 0 !important;
    .item-inner {
      border: 0 !important;
    }
  }

  ion-footer {
    padding: 15px;

    #sign-in-button.button {
      width: 100%;
      background: #7cad31;
      color: #fff;
      border: 0;
      height: 60px;
      border-radius: 10px;
      font-size: 18px;
    }
  }
}
