<!--
  Generated template for the LocationmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar align-title="center">
    <ion-title>Map</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
  <div #map id="map"></div>
</ion-content>
