<!--
  Generated template for the RestaurentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar align-title="center">
        <ion-title>Elenco Ristoranti</ion-title>
        <ion-buttons end>
            <button color="dark" ion-button icon-only (click)="navCtrl.goToRoot()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="elencoRistor">
        <ul>
            <li *ngFor="let restaurent of restaurentsList">
                <div class="elencoImg"><img [src]="apiProvider.getImagePath(restaurent.restaurent_partner_photo)"></div>
                <div class="elencoTxt">
                    <div class="restroName">{{restaurent.restaurent_name}}</div>
                    <div class="restroDes">{{restaurent.restaurent_address}}</div>
                    <!-- <div class="restroNum"><a href="tel:{{restaurent.restaurent_phone}}">{{restaurent.restaurent_phone}}</a></div> -->
                    <div class="restoBtns">
                        <a href="tel:{{restaurent.restaurent_phone}}">CHIAMA</a>
                        <a (click)="openMenu(restaurent)">MENU</a>
                        <a color="secondary" (click)="sendLocation(restaurent)">INVIA</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>
