page-restaurents {
	.elencoRistor ul {
		list-style: none;
	}

	.elencoRistor ul li {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 20px 0;
		margin: 0 12px;
		border-bottom: 1px solid #c7c7c7;
	}

	.elencoImg {
		margin-right: 10px;
		width: 80px;
height: 80px;
		min-width: 80px;
	}

	.elencoImg img {
		width: 80px;
height: 80px;
		border-radius: 50%;
		    object-fit: cover;
				background-color:#EEE;
	}
.elencoTxt {
	width:calc(100% - 85px)
}
	.restroName {
		font-size: 17px;
		color: #111;
		padding-bottom: 5px;
	}

	.restroDes {
		font-size: 11px;
		padding-bottom: 5px;
		color: #999999;
		white-space: nowrap;
text-overflow: ellipsis;
width: 100%;
overflow: hidden;
	}

	.restroNum {
		font-size: 10px;
		a {
			color: #000;
			text-decoration: none;
			font-size: 14px;
		}
	}

	.restoBtns {
		margin-top: 0px;
	}

	.restoBtns a {
		display: inline-block;
	}

	.restoBtns a:nth-child(1),
	.restoBtns a:nth-child(2) ,
	.restoBtns a:nth-child(3) {
		background: #7cad31 url("../assets/images/phoneBgIcon.png") no-repeat 3px 2px;
		background-size: 19px 19px;
		padding: 5px 8px 5px 26px;
		border-radius: 20px;
		color: #fff;
		font-size: 10px;
		margin-right: 2px;
		text-decoration: none;
		font-size: 10px;
font-weight: bold;
	}

	.restoBtns a:nth-child(2) {
		background: #993300 url("../assets/images/menuIcon.png") no-repeat 3px 2px;
		background-size: 19px 19px;
	}
	.restoBtns a:nth-child(3) {
		background: #7cad31 url("../assets/images/scooter.png") no-repeat 3px 2px;
		background-size: 19px 19px;
	}
	@media(max-width:355px) {
		.restoBtns a:last-child {
			margin-top: 8px;
		}
	}
}
