<!--
  Generated template for the DriversMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Drivers</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div #map id="map"></div>
</ion-content>
