<ion-navbar>
  <button color="dark" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>{{title}}</ion-title>

  <ion-buttons end>
    <!-- <button color="dark" ion-button icon-only (click)="home()">
      <ion-icon name="home" ></ion-icon>
    </button> -->
  </ion-buttons>
</ion-navbar>
