page-userpositions {
  .position-card {
    .user {
      .phone {
        white-space: normal;
      }
      .dateformat {
        color: #333;
          font-size: 11px;
            margin-top: 5px;
      }
    }
  }
}
