<!--
  Generated template for the UserpositionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar align-title="center">
        <ion-title *ngIf="restaurentData">
            {{restaurentData.restaurent_name}}
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card *ngFor="let position of posotionsList" class="position-card">

        <!-- <img src="img/advance-card-map-madison.png"> -->


        <ion-item class=user>
            <ion-icon name="ios-contact" item-start large></ion-icon>
            <h2>{{position.user_first+ " "+position.user_last}}</h2>
            <p>{{position.user_phone}}</p>
            <p class="phone">{{position.restaurants_user_location_address}}</p>
            <p class="dateformat">{{getDateStr(position.created_at) | date:'dd/MM/yyyy h:mm a'}}</p>

            <br/>
            <p class="phone" *ngIf="position.request_status"><b>Request Status:
                {{getRequestStatus(position.request_status)}}</b></p>

        </ion-item>

        <!-- <ion-item>
          <ion-icon name="md-restaurant" item-start large></ion-icon>
          <h2>{{position.restaurent_name}}</h2>
          <p>{{position.restaurent_phone}}</p>
        </ion-item> -->

        <ion-item>
            <!-- <span item-start>18 min</span> -->
            <!-- <span item-start>(2.6 mi)</span> -->
            <a href="tel:{{position.user_phone}}">
                <button ion-button icon-start clear item-end>
                    <ion-icon name="call"></ion-icon>
                    CALL
                </button>
            </a>
            <button ion-button icon-start clear item-end (click)="goNavigation(position)">
                <ion-icon name="navigate"></ion-icon>
                Location
            </button>
            <button *ngIf="!position.driver_id" ion-button icon-start clear item-end (click)="goDriversMap(position)">
                <ion-icon name="md-bicycle"></ion-icon>
                Assign Driver
            </button>
            <button *ngIf="position.driver_id" ion-button icon-start clear item-end
                    (click)="viewDriverTracking(position)">
                <ion-icon name="md-map"></ion-icon>
                View Tracking
            </button>
        </ion-item>

    </ion-card>
</ion-content>
