<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar align-title="center">
        <button color="dark" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Seleziona una categoria</ion-title>

        <ion-buttons end>
            <button color="dark" ion-button icon-only (click)="navCtrl.goToRoot()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-item class="city_dropdown">
        <ion-label>Città</ion-label>
        <ion-select [(ngModel)]="selectedCityId" (ionChange)="cityChanged()" okText="OK" cancelText="Cancella">
            <!-- <ion-option value="">Seleziona Città</ion-option> -->
            <ion-option [value]="city.city_id" *ngFor="let city of citiesList">{{city.city_name}}</ion-option>
        </ion-select>
    </ion-item>
</ion-header>

<ion-content>

    <div class="restroCat">
        <ul>
            <li *ngFor="let cat of resCatList" (click)="openResCategory(cat)">
                <div class="catIcon"><img [src]="apiProvider.getImagePath(cat.category_icon_path)" alt=""></div>
                <div class="catTxt">{{cat.category_name+" ("+cat.restaurant_count+")"}}</div>
                <div class="catGreenIcon"><img src="./assets/images/greenArrow.png" alt=""></div>
            </li>
        </ul>
    </div>

</ion-content>
