page-categories {
	.restroCat {
		// margin-top: 44px;

		ul {
			list-style: none;
			margin:0;
		}
	}

	.restroCat ul li {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 50px 0;
		margin: 0 25px;
		border-bottom: 1px solid #c7c7c7;
	}

	.restroCat ul li:last-child {
		border-bottom: 0;
	}

	.restroCat .catTxt {
		text-align: left;
		width: 100%;
		font-size: 20px;
		padding-left: 30px;
	}

	.restroCat .catIcon {
		width: 60px;
		padding-right: 30px;
		border-right: 1px solid #c7c7c7;
	}

	.catGreenIcon {
		width: 22px;
	}

	.city_dropdown {
		// position: fixed;
		z-index: 111111;
		background-color: #eee;

		.item-inner {
			border: none !important;
		}
	}
}
