// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ul {
  padding: 0;
}

//ion-title {
//  position: absolute;
//  top: 0px;
//  left: 40px !important;
//  padding: 0 0 1px !important;
//  height: 100% !important;
//  width: auto !important;
//  text-align: center;
//  right: 40px !important;
//}
//
//.toolbar-ios {
//  padding-top: 16px;
//  ion-title {
//    top: 8px;
//  }
//}

* {
  font-family: 'varela_roundregular';
}
