<!--
  Generated template for the AutocompletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>autocomplete</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
    <ion-searchbar #search id="search" class="searchbar-has-focus" (ionCancel)="cancelClick()"></ion-searchbar>

    <ion-card *ngFor="let location of myLocations" (click)="locationSelect(location)">
        <ion-card-content>
            <ion-icon name="{{location.location_type=='H'?'home':'map'}}" item-start></ion-icon>
            <div>{{location.location_address}}</div>
        </ion-card-content>
    </ion-card>
</ion-content>
