page-autocomplete {
  .scroll-content {
    background-color: #EEE;
  }
.searchbar-md .searchbar-md-cancel,.searchbar-cancel {
  display: block !important;
}
.searchbar-ios .searchbar-md-cancel {
  display: block;
position: absolute;
left: 0;
top: 0;
height: 21px;
width: 22px;
background-color: #fff;
z-index: 1111;
padding: 0;
}
.searchbar-search-icon {
  display: none;
}

.card-content {
  display: flex;
  align-items: center;
  font-size: 12px;
  .icon {
    margin-right: 8px;
    color:#777;
  }
}
}
