page-sidemenu {
  .mapLeft {
    background: #2b323c;
    position: fixed;
    height: 100%;
  }

  .topProIcon {
    text-align: center;
    padding-top: 35px;
  }

  .topProIcon img {
    width: 120px;
    border-radius: 50%;
    height: 120px;
    border: 1px solid #aaa;
    overflow: hidden;
    object-fit: cover;
  }

  .topInfo {
    text-align: center;
    color: #fff;
  }

  .proName {
    margin-top: 25px;
    font-size: 22px;
    padding: 3px 0;
  }

  .proNum a {
    color: #838790;
    text-decoration: none;
    padding: 5px 0;
  }

  .proId {
    color: #838790;
  }

  .myNav ul {
    list-style: none;
    padding: 30px 25px;
  }

  .myNav ul li {
    list-style: none;
    padding: 15px 0;
    border-top: 1px solid #dadbdd;
  }

  .myNav ul li:last-child {
    border-bottom: 1px solid #dadbdd;
  }

  .myNav ul li a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
  }

  .myNav ul li a img {
    max-height: 20px;
  }

  .myNav ul li span {
    display: inline-block;
    vertical-align: middle;
  }

  .myNav ul li span.navIcon {
    width: 25px;
    text-align: center;
  }

  .myNav ul li span.navTxt {
    margin-left: 15px;
  }

  .nav_icon {
    color: #666E78;
    font-size: 25px;
  }
}
