<ion-menu type="overlay" [content]="mycontent">
    <ion-content class="mapLeft">
        <div class="topInfo">
            <div class="topProIcon"><img
                    [src]="apiProvider.getImagePath(getUser().user_photo,'./assets/images/profileIcon.png')">
            </div>
            <div class="proName">{{getUser().user_first + " "}}</div>
            <div class="proNum"><a href="tel:{{getUser().user_phone}}">{{getUser().user_phone}}</a></div>
            <!-- <div class="proId">ID: 123 - 645</div> -->
        </div>
        <!--/Top Info-->

        <div class="myNav">
            <ul>
                <li><a menuClose (click)="openPage(CategoriesPage)"><span class="navIcon">
                                        <ion-icon name="ios-arrow-back-outline" class="nav_icon"></ion-icon>
                </span><span class="navTxt">Indietro</span></a></li>
                <li *ngIf="!canLoginSkip"><a menuClose (click)="openPage(ProfilePage)"><span class="navIcon"><img
                        src="./assets/images/navIcon2.png"></span><span class="navTxt">Profilo</span></a></li>
                <li><a menuClose (click)="openPage(UserlocationPage)"><span class="navIcon"><img
                        src="./assets/images/navIcon3.png"></span><span class="navTxt">Posizioni Salvate</span></a></li>
                <li><a menuClose (click)="openPage(SettingPage)"><span class="navIcon"><img
                        src="./assets/images/navIcon4.png"></span><span class="navTxt">Impostazioni</span></a></li>
                <li>
                    <a menuClose (click)="callVelofood()">
                    <span class="navIcon">
                    <ion-icon name="md-help-circle" class="nav_icon"></ion-icon>
                </span>
                        <span class="navTxt">Assistenza 3389810104</span>
                    </a>
                </li>
                <li><a menuClose (click)="logout()"><span class="navIcon"><img
                        src="./assets/images/navIcon5.png"></span><span class="navTxt">DISCONNETTI</span></a></li>
            </ul>
        </div>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage" swipeEnabled="false"></ion-nav>
