page-restaurentmenu {
	.menuName {
		background: #7cad31;
	color: #fff;
	padding: 0 14px;
	margin-top: 1px;
	font-size: 13px;
	height: 22px;
	line-height: 22px;
	}

.elencoTxt {
	display: flex;
    flex-direction: row;
    width: 100%;
		.menuDes {
			flex:1;
		}
}
	.menuList ul li:after {
		content: '';
		display: block;
		clear: both;
	}

	.menuList ul {
		list-style: none;
		margin:0;
		padding:0 13px;
	}

	.menuList ul li {
		padding: 12px 0;
		border-bottom: 1px solid #c7c7c7;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid #c7c7c7;
	}

	.menuList ul li:last-child {
		border-bottom: 0;
	}

	.menuDes {
		float: left;
	}

	.menuName1 {
		color: #999999;
		font-size: 10px;
	}

	.menuName2 {
		font-size: 14px;
		color: #000;
		padding: 3px 0;
	}

	.menuName3 {
		color: #000;
		font-size: 11px;
	}

	.menuPrice {
		font-size: 16px;
		float: right;
		padding-top: 22px;
	}
	@media(max-width:480px) {
		.topProIcon img {
			max-width: 40%;
		}

		.menuDes,
		.menuPrice {
			float: none;
		}

		.menuPrice {
			text-align: left;
		}
	}

	.elencoImg {
		padding-right: 10px;
		width: 70px;
	min-width: 70px;
	}
}
