<!--
  Generated template for the RestaurentmenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar align-title="center">
		<ion-title>Menu</ion-title>
		<ion-buttons end>
			<button color="dark" ion-button icon-only (click)="navCtrl.goToRoot()">
				<ion-icon name="home" ></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="menuList" *ngFor="let resMenu of resMenuList">
		<div class="menuName">{{resMenu.category_name | uppercase}}</div>
		<ul>
			<li *ngFor="let item of resMenu.items">
				<!-- <div class="elencoImg">
					<img [src]="item.item_photo | imagePath" alt="">
				</div> -->
					<div class="elencoTxt">
						<div class="menuDes">
							<div class="menuName1">{{item.category_name | uppercase}}</div>
							<div class="menuName2">{{item.item_name}}</div>
							<div class="menuName3" *ngIf="item.item_description && item.item_description.length > 0">{{item.item_description}}</div>
						</div>
						<div class="menuPrice">{{formatPrice(item.item_price)+" "+item.item_price_currency}}</div>
					</div>
			</li>
		</ul>
	</div>
</ion-content>
