page-setting {
  .regFormWrap {
    padding: 30px 16px;
  }

  .singleInput {
    padding-top:10px;
    input {
      width:100%;
      height: 60px;
      border: 1px solid #dddddd;
      border-radius: 10px;
      padding: 0 15px;
      font-size: 18px;
      color: #000;
    }
  }

  .button {
    margin-top:20px;
  }
}
