<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar align-title="center">
    <button color="dark" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Impostazioni</ion-title>

    <ion-buttons end >
      <button color="dark" ion-button icon-only (click)="navCtrl.goToRoot()">
        <ion-icon name="home" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="regFormWrap">
    <div class="regTxt">Inserisci Codice Attività</div>

    <div class="singleInput">
      <input type="text" placeholder="Restuarent Id" [(ngModel)]="resId" name="resId" />
    </div>

    <button ion-button color="dark" block (click)="checkResId()" [disabled]="!isValidate()">Salva</button>
    <ion-label color="danger" padding text-center>{{errorMessage}}</ion-label>

  </div>
</ion-content>
