page-userlocation {
  #map {
    width: 100%;
    height: 100%;
  }

  .mapBottom {
    background: #2b323c;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

  ion-fab[bottom] {
      bottom: 80px;
  }
  
  .mapBottom a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }

  .mapBottom .locationIcon a img,
  .mapBottom .sharIcon a img {
    width: 15px;
    padding-right: 5px;
  }

  .mapBottom .locationIcon,
  .mapBottom .sharIcon {
    border: 1px solid #fff;
    padding: 0 10px;
    line-height: 50px;
    font-size: 16px;
    height: 50px;
    border-radius: 12px;
    margin: 10px 5px 10px 0;
  }

  .burgerIcon {
    width: 40px;
    margin-right: 8px;
  }

  .searchIcon {
    position: absolute;
    right: 25px;
    top: -51px;
  }

  .searchIcon img {
    width: 41px;
    display: inline-block;
  }

  .searchIcon a {
    display: inline-block;
    background: #7cad31 url("../assets/images/searchIcon.png") no-repeat center center;
    background-size: 40px 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    border: 6px solid #fff;
  }

  .burgerIcon,
  .locationIcon,
  .sharIcon {
    color:#fff;
    display: inline-block;
    vertical-align: middle;
  }
}
