<!--
  Generated template for the UserlocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
	<ion-searchbar #searchbox id="searchbox" *ngIf="showSearchBar" (click)="openAutoComplete()" [(ngModel)]="placeName"></ion-searchbar>
	<div #map id="map"></div>
	<div class="mapBottom">
		<div class="burgerIcon" menuToggle><a><img src="./assets/images/burgerMenu.png" alt=""></a></div>
		<div class="locationIcon" (click)="saveLocationAs()">
			<a><img src="./assets/images/locationIcon.png" alt="">
			Salva Posizione
		</a>
	</div>
		<button ion-button clear icon-start class="locationIcon" *ngIf="isFromRestaurenPage" (click)="sendPosition()">
  		<ion-icon name="ios-send-outline"></ion-icon>
  			Invia
		</button>
<!-- <div class="sharIcon"><a><img src="./assets/images/shareIcon.png" alt="">Condividi posizione</a></div> -->
		<!-- <div class="searchIcon" (click)="showSearchBar=!showSearchBar"><a></a></div> -->
	</div>
	<ion-fab right bottom>
    <button ion-fab color="dark" (click)="currentPosition()"><ion-icon name="md-locate"></ion-icon></button>
  </ion-fab>
</ion-content>
