page-otpverify {
	.codiceWrap {
		padding: 40px;
		text-align: center;
	}

	.codiceTxt {
		font-size: 20px;
		padding-bottom: 30px;
	}

	.codiceInput input {
		height: 60px;
		border: 1px solid #dddddd;
		border-radius: 10px;
		padding: 0 15px;
		font-size: 18px;
		text-align: center;
	}

	.loadingBar {
		height: 5px;
		background: #cccccc;
		margin-top: 35px;
		margin-bottom: 40px;
		position: relative;
		.loading {
			position: absolute;
			width: 50%;
			height: 100%;
			background: #7cad31;
			display: block;
		}
	}


	.bottomTxt {
		color: #999999;
	}

	.bottomTxt a {
		text-decoration: none;
		color: #7cad31;
	}
}
