<!--
  Generated template for the OtpverifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar align-title="center">
		<ion-title>Inserisci codice SMS</ion-title>
		<ion-buttons end>
			<button color="dark" ion-button icon-only>
				<ion-icon name="home" ></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="codiceWrap">
		<div class="codiceTxt">Abbiamo inviato un SMS con il<br>codice al {{phoneNumber}}</div>
		<ion-label *ngIf="otpValidatingError" color="danger">Otp is invalid</ion-label>
		<div class="codiceInput">
			<input type="number" placeholder="Codice SMS" [(ngModel)]="code" (change)="onCodeChage()" (input)="onCodeChage()" (ionInput)="onCodeChage()">
		</div>
		<div class="loadingBar">
			<div class="loading" [style.width]="progress+'%'"></div>
		</div>
		<div class="bottomTxt">Inserendo il dodice SMS, acconsento ai <br><a href="">Termini e Condizioni</a></div>
	</div>
</ion-content>
